* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #ffe5b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 1 rem;
    font-size: 2rem;
}

#timer {
    font-size: 4rem;
    margin: 1.5rem 0;
    color: #ff6347;
}

.button {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 0.8rem 1.2rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #e5533f;
}